.isOnline {
    display: block;
    width: 10px;
    height: 10px;
    
    background-color: green;
    border-radius: 50%;
}

.isOffline {
    display: block;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: red;
}